[submodule "js.ext"]
	path = js.ext
	url = https://github.com/xizher/js.ext.git
[submodule "js.utils"]
	path = js.utils
	url = https://github.com/xizher/js.utils.git
[submodule "customevent"]
	path = customevent
	url = https://github.com/xizher/customevent.git
[submodule "datastructure"]
	path = datastructure
	url = https://github.com/xizher/datastructure.git
[submodule "customgisapi"]
	path = customgisapi
	url = https://github.com/xizher/customgisapi.git
[submodule "spatialalgorithms"]
	path = spatialalgorithms
	url = https://github.com/xizher/spatialalgorithms.git
[submodule "nodejs"]
	path = nodejs
	url = https://github.com/xizher/nodejs.git
[submodule "evention"]
	path = evention
	url = https://github.com/xizher/evention.git
[submodule "comparator"]
	path = comparator
	url = https://github.com/xizher/comparator.git
[submodule "leetcode"]
	path = leetcode
	url = https://github.com/xizher/leetcode.git
